__pycache__
db_data
.DS_Store
*.csv
*.pyc
venv
env
.env
key.json
jwt_setting.json
.idea
.env_data
libs
jtc
.pytest_cache
mci_workers/*/app/config.json
ordini-2022-1.json
db_old
test_jl.py
clamav/
sample_data/
static_files